.todo__tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
/* 
.task__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 0px;
  padding: 0;
  overflow-y: auto;
  /* height: 100%; */
  max-height: 250px;
  width: 100%;
  padding: 20px 5px;
}

.sidebar__title {
  margin: 10px 0px;
}

a {
  text-decoration: none;
  color: black;
}

.list__item {
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 3px 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  max-width: 300px;
  width: 100%;
  background-color: rgb(231, 231, 231);
}
a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list__text {
  margin-right: 10px;
  font-size: 18px;
  text-align: center;
}
.list__date {
  margin-right: 10px;
  padding: 3px;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
  font-size: 14px;
}

.form__title {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.form__disc {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.form__date {
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
}

.form__btn {
  width: 130px;
}

.date__task-ends {
  background-color: rgb(255, 206, 128);
}
.date__task-finish {
  background-color: rgb(255, 85, 85);
}

.task__complited {
  text-decoration: line-through;
  background-color: rgb(126, 255, 176);
}
.todo__task__title-icon {
  width: 20px;
  margin-left: 30px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 30px;
  right: 0;
}

.todo__task__disc-icon {
  width: 20px;
  margin-left: 30px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 130px;
  right: 25px;
}
.todo__task__title-icon:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.todo__task__disc-icon:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.todo__task-title {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  width: 300px;
  margin-bottom: 30px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  position: relative;
}

.todo__task-title:hover .todo__task__title-icon {
  opacity: 1;
  cursor: pointer;
}

.todo__task-disc:hover .todo__task__disc-icon {
  opacity: 1;
  cursor: pointer;
}

.todo__task-disc {
  display: flex;
  width: 300px;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  border-bottom: 1px solid black;
}
.todo__task-disc:hover .todo__task-icon {
  opacity: 1;
  cursor: pointer;
}

.todo__task-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 350px;
  position: absolute;
}

.edit__title {
  padding: 10px;
  background-color: #f4f6f8;
  font-size: 20px;
}

.todo__task-textarea {
  resize: none;
  width: 100%;
  height: auto;
  font-size: 20px;
  border: none;
  background-color: #f4f6f8;
  padding: 10px;
  text-align: center;
}
svg {
  width: 30px;
  height: auto;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

svg:hover {
  fill: rgb(255, 161, 161);
  -webkit-animation: flip;
}

.tasks__btn {
  padding: 30px;
}
.tasks__btn:hover {
  background-color: rgb(126, 255, 176);
}
